<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İklim Değişikliği Bilgilendirme</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>İklim Değişikliği Bilgilendirme</h1>
        <nav>
            <a href="#nedenler">Nedenleri</a>
            <a href="#turkiye">Türkiye Üzerindeki Etkileri</a>
            <a href="#kuresel">Küresel İklim Değişikliğini Önlemek İçin Neler Yapılabilir?</a>
            <a href="#dunya">Dünya'da İklim Değişikliği Konusunda Yapılan Çalışmalar Nelerdir?</a>


        </nav>
    </header>
    
    <section id="nedenler">
        <h2>Nedenleri</h2>
        <p>İklim değişikliğinin temel nedenleri arasında insan faaliyetleri yer almaktadır. Bunlar arasında:</p>
        <ul>
            <li>İklim değişikliğini kısaca; ısıyı tutan sera gazlarının atmosferde artması ile ortalama sıcaklıkların yükselmesi ve sonucunda iklimin, beklenmeyen değişimlere uğraması şeklinde açıklayabiliriz. Salınan sera gazları, doğaya verilen zararlar ve ormansızlaşma gibi etkenler birleşerek, tüm canlı yaşamını olumsuz etkileyen küresel iklim değişikliğine neden olur. . İklim değişikliği genel olarak kontrolsüz ve aşırı insan faaliyetleri sonucunda oluşur. İklim değişikliği, etkisini sadece sıcaklık artışları ile göstermiyor. Kuraklık, seller, şiddetli kasırgalar gibi aşırı hava olaylarının sıklığında ve etkisinde de artış görünüyor. Okyanus ve deniz suyu seviyelerinde yükselme ve okyanus sularında asit oranı artışı, buzulların erimesi gibi etkenler sonucunda bitkiler, hayvanlar ve ekosistemlerin yanı sıra insanlar da ciddi risk altındadır.</li>
    </section>
    
    <section id="turkiye">
        <h2>Türkiye Üzerindeki Etkileri</h2>
        <li>İklim değişikliğinin Türkiye üzerindeki etkileri, enerji ve barınma ihtiyaçlarını karşılamak ve doğal kaynakların plansız kullanımı nedeniyle her geçen gün artıyor. Yeni yerleşim alanları için yok edilen orman arazileri ve sanayi bölgelerindeki artış, sera gazı salınımını artırıyor.
 
            TÜİK’in 2017 verilerine göre, Türkiye’de sera gazı salınımı 526,3 milyon ton olarak gerçekleşti. 1990’dan beri sera gazı salınımı göz önüne alındığında, sürekli bir artış eğilimi görülebilir. Kişi başına düşen sera gazı salınımı, 1990 yılında 4 ton/kişi olarak hesaplanırken, 2017 itibarıyla bu oran 6,6 ton/kişi seviyesine ulaştı. Türkiye’de, son 18 yılda salınan sera gazı miktarının, neredeyse %65 oranında arttığı söylenebilir.
             
            Eurostat’ın Avrupa ülkeleri ile ilgili yayınladığı verilere göre, en yüksek sera gazı salınımı Almanya tarafından yapılıyor. Almanya’yı en yüksek salınım miktarı ile Türkiye, Birleşik Krallık, Fransa ve İtalya takip ediyor. 
             
            Meteoroloji Genel Müdürlüğü’nün 1970-2017 yılları arasında yaşanan sıcaklıklar hakkında yayınladığı veriler incelendiğinde, Türkiye’de sıcaklık ortalamalarında giderek artan bir yükseliş görüldüğü söylenebilir. Yaklaşık 50 yıllık bir süre içinde  Türkiye’nin sıcaklık ortalamasının 12,7 ºC’den 14,0 ºC’ye çıktığı görülmektedir.</li>
        

    </section>
    <section id="kuresel">
        <h2>Küresel İklim Değişikliğini Önlemek İçin Neler Yapılabilir?</h2>
        
        <ul>
        <li>Küresel iklim değişikliğini önlemek için her bir insana sorumluluk düşüyor. Yaşam tarzında yapılan basit değişiklikler, küresel iklim değişikliğini engellemeye yardımcı olabilir. Uygulanabilecek basit adımlar şu şekilde sıralanabilir:
 
            ·Uçak kullanımı azaltılabilir.
            ·Fosil yakıtlar yerine yenilenebilir enerji kaynakları tercih edilebilir.
            ·Et, çiftlik balığı, süt, peynir ve tereyağı gibi hayvansal ürünlerin tüketimi azaltılabilir.
            ·Yerli üretim gıdaların tüketimi artırılabilir.
            ·Yerli üreticiler ve paketlenmemiş gıdalar tercih edilebilir.
            ·Konutlara izolasyon uygulanarak enerji tasarrufu yapılabilir.
            ·Kısa mesafelerde ulaşım için yürünebilir veya bisiklet kullanılabilir.
            ·İş seyahatleri yerine, video konferans toplantılar yapılabilir.
            ·Sıcak su tüketimi azaltılıp enerji tasarrufu yapılabilir.
            ·Bilinçli tüketici olarak, yenilenebilir enerji kaynakları kullanan şirketler tercih edilebilir.
            ·Standart ampuller yerine, düşük enerji tüketimli LED ampuller kullanılabilir.
            ·Ev tipi güneş enerjisi sistemleri kullanılabilir.
            ·Çamaşır kurutma makineleri yerine, çamaşırlar asılarak kullanılabilir.
            ·Geri dönüşüm ve sıfır atık benimsenerek atık yönetimi yapılabilir.
        </li>
        </ul>
      </section>
      <section id="dunya">
        <h2>Dünya'da İklim Değişikliği Konusunda Yapılan Çalışmalar Nelerdir?</h2>
        
        <ul>
        <li>Dünyada iklim değişikliği konusunda, yerel ve uluslararası alanda birçok girişim bulunuyor. Yapılan çalışmalar, iklim değişikliğini ve sonucunda küresel ısınmayı engellemeyi başarabilir.

            Günümüzde enerji talebini karşılamak için üretimin artırılması yolu tercih ediliyor. Ekonomik ve ekolojik açılardan yararlı olacak yöntemse; tüketimin yönetilmesi olabilir. Karbon salınımını azaltmak için en hızlı ve masrafsız yol, enerji verimliliği sağlanmasına yönelik önlemleri uygulamak olabilir.
             
            Arazi kullanımındaki değişiklikler özellikle ormansızlaşma tek başına sera gazı salınımının %17’sini oluşturuyor. Ormanların azalmasını durdurmak ve orman alanlarını artırmak, iklim değişikliğine olumlu etkiler sağlayabilir. İklim değişikliği için devletler bazı önlemler alabilir. Bunlardan bazılarını şu şekilde sıralayabiliriz:
             
            ·Paris İklim Sözleşmesi gibi uluslararası anlaşmalar onaylanıp uygulanabilir.
            ·Fosil yakıtlar yerine yenilenebilir enerji kaynaklarına destek ve yatırımlar yapılabilir.
            ·Karbon salınımı için vergi yasaları oluşturulabilir.
            ·Ekosistemleri korumaya yönelik, konut ve atık yönetim projeleri uygulanabilir.
            Sonuç Olarak
            Dünya üzerindeki tüm canlıları etkileyen küresel iklim değişikliği sorununa karşı, her birimizin sorumluluğu bulunuyor. Aydem Yenilenebilir Enerji gibi yenilenebilir enerji kaynakları ile üretim yapan şirketler sayesinde iklim değişikliğinin ana sebebi olan sera gazları azaltılabilir. 
            Bilinçli tüketiciler tarafından gelen talepler doğrultusunda, şirketlerin yenilenebilir kaynaklara yönelmesi sağlanabilir. İnsan faaliyetleri sonucu gelişen küresel iklim değişikliğinin olumsuz etkileri; ancak bizlerin yapacağı bilinçli tercihlerle çözülebilir. Geri dönüşüm yapılması, sıfır atık yaşam tarzının benimsenmesi ve yenilenebilir enerji kaynaklarının kullanılması, bilinçli tüketimin en önemli unsurları olarak sayılabilir.
             </li>
        </ul>
        </section>
    
    <footer>
        <p>&copy; 2024 İklim Değişikliği Bilgilendirme Projesi</p>
        <p>Bu siteyi Murat Gürsel Kodlamıştır</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>